{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bahnschrift Condensed';
    font-size: medium;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.6;
    margin: 0;
}
.container {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
header h1 {
    font-size: 2.5rem;
    color: #101011;
}
header h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #2c50f0;
}
.experienciam p{
    font-size: 1.5rem;
    font-family: "Bahnschrift Condensed";
    font-weight: normal;
    color:#2c50f0
}

.contact-info p {
    text-align: right;
}
.experiencia h3{
    font-size: 1.5rem;
    color: #2c50f0;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
    
}
.educacion h4 {
    font-size: 1.5rem;
    color: #2c50f0;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}
footer{
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: #000000;

}
.habilidades h5{
    font-size: 1.5rem;
    color:#2c50f0;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}
.skill {
    margin-bottom: 15px;
}

.skill p {
    margin: 5px 0;
    font-weight: bold;
}

.barra {
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    height: 15px;
}

.progreso {
    height: 100%;
    background: linear-gradient(90deg, #2c50f0, #4fa3ff);
    width: 0; /* animado */
    border-radius: 20px;
    transition: width 1.5s ease-in-out;
}


.barra:hover .progreso {
    filter: brightness(1.2);
}
.contact-info i {
    color: #2c50f0;
    margin-right: 8px;
    font-size: 1rem;
}
.redes-sociales .icono {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2c50f0;
    color: white;
    margin: 0 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.redes-sociales .icono:hover {
    background-color: #1e90ff;
    transform: scale(1.2);
}

.container img {
  width: 150px;
  height: 150px;
  object-fit: cover; /* recorta la foto proporcionalmente */
  border-radius: 50%; /* la hace circular */
  border: 3px solid #2c50f0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}
